<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [Thread: %t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<File name="LogFile" fileName="logs/practice.log" append="true" >
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [Thread: %t] %-5level %logger{36} - %msg%n"/>
		</File>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="Console" />
			<AppenderRef ref="LogFile" level="warn" />
		</Root>
	</Loggers>
</Configuration>