html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#main {
  height: 100%;
  width: 100%;
  display: table;
  border-collapse: collapse;
}
#main .alert {
  position: fixed;
  bottom: 10px;
  left: 5%;
  z-index: 25;
  width: 90%;
  box-shadow: 0 0 10px 0 grey;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}
#main .alert.ng-hide {
  opacity: 0;
}
#main .page-header {
  display: table-row;
  border-bottom: 3px solid #17cf00;
}
#main .page-header h1 {
  font-size: 35px;
  margin-bottom: 20px;
}
#main .page-header h1 #backendConnectionStyle {
  top: 10px;
  padding-right: 10px;
}
#main .page-header h1 #backendConnectionStyle.green {
  color: #17cf00;
}
#main .page-header img {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 60px;
}
#main #parametersStart {
  font-size: 1.5em;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  margin-top: 10px;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  z-index: 10;
  background-color: white;
}
#main #parameters {
  background-color: white;
  border-right: 1px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: max-width 0.2s ease-in-out;
  max-width: 0px;
  z-index: 11;
}
#main #parameters.slideRight {
  border-right: 1px dotted blue;
  max-width: 500px;
}
#main #parameters .title {
  font-size: 1.5em;
  color: blue;
  border-bottom: 1px solid blue;
  border-top: 1px solid blue;
}
#main #parameters form {
  padding-right: 5px;
  margin-top: 5px;
}
#main #parameters form h4 {
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 5px;
}
#main #parameters form .form-group {
  padding-left: 10px;
}
#main #parameters .close {
  padding-right: 10px;
  padding-top: 4px;
}
#main #graphContainer {
  display: table-row;
  float: none;
  padding: 0;
  height: 100%;
}
#main #graphContainer > div {
  padding: 0;
  margin: 0;
}
#main #graphContainer #network {
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background: #333;
}
#main #graphContainer #network svg {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#main #graphContainer #network svg .customNode {
  line-height: normal;
  width: 200px;
  height: 95px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#main #graphContainer #network svg .customNode .type {
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 4px;
  height: 100%;
  width: 15px;
  border-right: 1px solid #bbb;
}
#main #graphContainer #network svg .customNode .type.COMP {
  background-color: #ff372a;
}
#main #graphContainer #network svg .customNode .type.COMP:before {
  content: "C";
  color: white;
  padding-left: 3px;
}
#main #graphContainer #network svg .customNode .type.RES {
  background-color: #e5db3c;
}
#main #graphContainer #network svg .customNode .type.RES:before {
  content: "R";
  color: white;
  padding-left: 3px;
}
#main #graphContainer #network svg .customNode .type.IN {
  background-color: #006aff;
}
#main #graphContainer #network svg .customNode .type.IN:before {
  content: "I";
  color: white;
  padding-left: 5px;
}
#main #graphContainer #network svg .customNode .name {
  padding-left: 5px;
  display: block;
  color: white;
  padding-top: 5px;
  font-size: 1.1em;
}
#main #graphContainer #network svg .customNode .description {
  font-size: 0.7em;
  color: #c2c2c2;
  padding-left: 5px;
  margin-top: -3px;
}
#main #graphContainer #network svg .customNode .provider {
  display: block;
  padding-top: 5px;
  font-size: 0.8em;
  color: #c2c2c2;
  font-weight: bold;
  padding-left: 20px;
}
#main #graphContainer #network svg .customNode .mem {
  margin-top: 9px;
  display: inline-block;
  font-size: 0.9em;
  padding: 2px;
  width: 155px;
  margin-left: -4px;
  background-color: white;
  padding-left: 10px;
  border-right: 1px solid grey;
}
#main #graphContainer #network svg .customNode .risk {
  display: inline-block;
  font-size: 0.9em;
  width: 29px;
  color: red;
  background-color: white;
  padding: 2px;
  text-align: center;
}
#main #graphContainer #network svg .node rect {
  stroke-width: 1px;
  stroke: #bbb;
  fill: #666;
}
#main #graphContainer #network svg .edgeLabel rect {
  fill: none;
}
#main #graphContainer #network svg .edgeLabel {
  fill: #b2b2b2;
}
#main #graphContainer #network svg .edgePath {
  stroke: #696969;
  fill: none;
}
#main #graphContainer #runSimulation {
  position: absolute;
  right: 0px;
  z-index: 12;
}
#main #graphContainer #runSimulation button {
  border-radius: 0;
}
#main #graphContainer #runSimulation .spinner {
  margin-top: 10px;
  margin-right: 5px;
  width: 100px;
  text-align: center;
}
#main #graphContainer #runSimulation .spinner > div {
  width: 23px;
  height: 23px;
  background-color: #848284;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#main #graphContainer #runSimulation .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
#main #graphContainer #runSimulation .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
#main #graphContainer #restartVisualizer {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#main #graphContainer #restartVisualizer button {
  border-radius: 0;
}
#main #graphContainer #modifier {
  position: absolute;
  border-top: 1px solid #eee;
  background-color: white;
  bottom: 0px;
  height: 20%;
  z-index: 12;
  float: none;
}
#main #graphContainer #modifier .title {
  font-size: 1.5em;
  color: blue;
  border-bottom: 1px solid blue;
  border-top: 1px solid blue;
}
#main #graphContainer #modifier .close {
  padding-right: 10px;
  padding-top: 2px;
}
