html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue" !important;
}
body > input {
  visibility: hidden;
  position: absolute;
  width: 1px;
  font-size: 0;
  word-spacing: -0.23em;
}
body .dropdown-menu {
  left: auto;
}
.modalChart .modal-dialog,
.modalChart .modal-content {
  height: 95%;
}
.modalChart .modal-body {
  height: 91%;
}
.modalChart #practice-scatter-plot {
  width: 100%;
  height: 95%;
}
.modalChart .name {
  float: right;
  color: #27aae1;
}
.modalChart .axis {
  fill: none;
  stroke: #AAA;
  stroke-width: 1px;
}
.modalChart text {
  stroke: none;
  fill: #666666;
  font-size: .6em;
  font-family: "Helvetica Neue";
}
.modalChart .label {
  fill: #414241;
}
.modalChart .node {
  cursor: pointer;
}
.modalChart .dot {
  opacity: .7;
  cursor: pointer;
}
.modalRuntimeTable sub {
  color: forestgreen;
}
#main {
  height: 100%;
  width: 100%;
  display: table;
  border-collapse: collapse;
}
#main .alert {
  position: fixed;
  bottom: 10px;
  left: 5%;
  z-index: 25;
  width: 90%;
  box-shadow: 0 0 10px 0 grey;
  -webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}
#main .alert.ng-hide {
  opacity: 0;
}
#main .page-header {
  display: table-row;
  border-bottom: 3px solid #17cf00;
}
#main .page-header h1 {
  font-size: 35px;
  margin-bottom: 20px;
}
#main .page-header h1 #backendConnectionStyle {
  top: 10px;
  padding-right: 10px;
  color: #17cf00;
}
#main .page-header img {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 60px;
}
#main #parametersStart {
  font-size: 1.5em;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  height: 55px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 10;
  background-color: white;
}
#main #parametersStart:hover {
  color: #17cf00;
}
#main #downloadUpload {
  font-size: 1.9em;
  padding: 8px;
  cursor: pointer;
  height: 88px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: auto;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 10;
  background-color: white;
}
#main #downloadUpload .glyphicon {
  display: block;
  color: #666666;
}
#main #downloadUpload .glyphicon:hover {
  color: #17cf00;
  text-decoration: none;
}
#main #downloadUpload .glyphicon:last-child {
  padding-top: 18px;
}
#main #parameters {
  background-color: white;
  border-right: 1px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: max-width 0.2s ease-in-out;
  max-width: 0px;
  z-index: 11;
}
#main #parameters.slideRight {
  border-right: 1px dotted blue;
  max-width: 500px;
}
#main #parameters .title {
  font-size: 1.5em;
  color: blue;
  border-bottom: 1px solid blue;
  border-top: 1px solid blue;
}
#main #parameters form {
  padding-right: 5px;
  margin-top: 5px;
}
#main #parameters form h4 {
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 5px;
}
#main #parameters form .form-group {
  padding-left: 10px;
}
#main #parameters .close {
  padding-right: 10px;
  padding-top: 4px;
}
#main #graphContainer {
  display: table-row;
  float: none;
  padding: 0;
  height: 100%;
}
#main #graphContainer > div {
  padding: 0;
  margin: 0;
}
#main #graphContainer #network {
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background: #333333;
}
#main #graphContainer #network #firstUse {
  width: 350px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -175px;
  font-size: 1.7em;
}
#main #graphContainer #network svg {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#main #graphContainer #network svg .customNode {
  line-height: normal;
  width: 200px;
  height: 90px;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: 0 0 20px red;
}
#main #graphContainer #network svg .customNode .type {
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 4px;
  height: 100%;
  width: 15px;
  border-right: 1px solid #bbb;
  padding-top: 3px;
}
#main #graphContainer #network svg .customNode .type.COMP {
  background-color: #ff372a;
}
#main #graphContainer #network svg .customNode .type.COMP:before {
  content: "C";
  color: white;
  padding-left: 3px;
}
#main #graphContainer #network svg .customNode .type.RES {
  background-color: #e5db3c;
}
#main #graphContainer #network svg .customNode .type.RES:before {
  content: "R";
  color: white;
  padding-left: 3px;
}
#main #graphContainer #network svg .customNode .type.IN {
  background-color: #006aff;
}
#main #graphContainer #network svg .customNode .type.IN:before {
  content: "I";
  color: white;
  padding-left: 5px;
}
#main #graphContainer #network svg .customNode .calcRisk {
  display: block;
  color: red;
  float: right;
  padding-left: 4px;
  padding-right: 4px;
  background-color: white;
  margin-top: 8px;
  margin-right: 1px;
}
#main #graphContainer #network svg .customNode .name {
  padding-left: 5px;
  display: block;
  color: white;
  padding-top: 5px;
  font-size: 1.1em;
}
#main #graphContainer #network svg .customNode .description {
  font-size: 0.7em;
  color: #c2c2c2;
  padding-left: 5px;
  margin-top: -3px;
}
#main #graphContainer #network svg .customNode .provider {
  display: block;
  padding-top: 5px;
  font-size: 0.8em;
  color: #c2c2c2;
  font-weight: bold;
  padding-left: 20px;
}
#main #graphContainer #network svg .customNode .mem {
  margin-top: 9px;
  display: inline-block;
  font-size: 0.9em;
  padding: 2px;
  width: 155px;
  margin-left: -4px;
  background-color: white;
  padding-left: 10px;
  border-right: 1px solid grey;
}
#main #graphContainer #network svg .customNode .mem.modified {
  color: red;
}
#main #graphContainer #network svg .customNode .mem sub {
  color: forestgreen;
  font-size: 0.7em;
  vertical-align: sub;
  position: static;
}
#main #graphContainer #network svg .customNode .risk {
  display: inline-block;
  font-size: 0.9em;
  width: 29px;
  color: red;
  background-color: white;
  padding: 2px;
  text-align: center;
}
#main #graphContainer #network svg .node rect {
  stroke-width: 1px;
  stroke: #bbb;
  fill: #666;
  transition: stroke 1.1s;
}
#main #graphContainer #network svg .node rect.green {
  stroke-width: 3px !important;
  stroke: #17cf00 !important;
}
#main #graphContainer #network svg .edgeLabel rect {
  fill: none;
}
#main #graphContainer #network svg .edgeLabel {
  fill: #b2b2b2;
}
#main #graphContainer #network svg .edgePath {
  stroke: #696969;
  fill: none;
  transition: stroke 0.7s;
}
#main #graphContainer #network svg .edgePath.green {
  stroke-width: 3px !important;
  stroke: #17cf00 !important;
}
#main #graphContainer #network svg .edgePath.SS,
#main #graphContainer #network svg .edgePath.EN,
#main #graphContainer #network svg .edgePath.GC {
  stroke: #adad00;
}
#main #graphContainer #simulationButtons {
  position: absolute;
  right: 0px;
  z-index: 12;
}
#main #graphContainer #simulationButtons button {
  border-radius: 0;
  transition: all linear 0.5s;
}
#main #graphContainer #simulationButtons button.ng-hide {
  opacity: 0;
}
#main #graphContainer #simulationButtons #step {
  font-weight: bold;
  font-size: 1.5em;
  color: #17cf00;
}
#main #graphContainer #simulationButtons .spinner {
  margin-top: 10px;
  margin-right: 5px;
  width: 100px;
  text-align: center;
}
#main #graphContainer #simulationButtons .spinner > div {
  width: 23px;
  height: 23px;
  background-color: #848284;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#main #graphContainer #simulationButtons .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
#main #graphContainer #simulationButtons .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
#main #graphContainer #simulationStatistics {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
#main #graphContainer #simulationStatistics button {
  border-radius: 0;
  transition: all linear 0.5s;
}
#main #graphContainer #simulationStatistics button.ng-hide {
  opacity: 0;
}
#main #graphContainer #restartVisualizer {
  position: absolute;
  left: 0px;
}
#main #graphContainer #restartVisualizer button {
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 0;
}
#main #graphContainer #resetZoom {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#main #graphContainer #resetZoom button {
  border-radius: 0;
  transition: all linear 0.5s;
}
#main #graphContainer #resetZoom button.ng-hide {
  opacity: 0;
}
#main #graphContainer #modifier {
  position: absolute;
  border-top: 1px solid #eee;
  background-color: white;
  bottom: 0px;
  height: 200px;
  width: 100%;
  z-index: 12;
}
#main #graphContainer #modifier .title {
  font-size: 1.5em;
  color: blue;
  border-bottom: 1px solid blue;
  border-top: 1px solid blue;
}
#main #graphContainer #modifier .close {
  padding-right: 10px;
  padding-top: 2px;
}
#main #graphContainer #modifier #modificationButton {
  height: 96px;
}
#main #graphContainer #modifier #deleteButton {
  height: 96px;
}
#main #graphContainer #modifier .dropup .dropdown-menu {
  text-align: center;
}
