<!DOCTYPE html>

<!-- Luca Reverberi - SocketReve - thereve@gmail.com -->

<html ng-app="PracticeSimulator">
	<head>
		<link href="files/css/vendor/bootstrap-theme2.min.css" rel="stylesheet">
		<link href="files/css/vendor/loading-bar.min.css" rel="stylesheet">
		<link href="files/compiled/base.min.css" rel="stylesheet">
		<link href="files/images/icon2.png" rel="shortcut icon" type="image/x-icon" />
		<title> Practice Process Simulator </title>
	</head>
	<body>
		<input type="file" />
		<div id="main" ng-controller="PracticeMainController">
			<div class="text-center page-header">
				<h1><span id="backendConnectionStyle" class="glyphicon glyphicon-cloud"></span> PRACTICE <small>Process Simulator</small></h1>
				<img src="files/images/eu_flag.jpg" class="hidden-xs"/>
			</div>

			<div id="parametersStart" ng-click="showParameters(true)" >
				>
			</div>

			<div id="downloadUpload" >
				<a title="Download" class="glyphicon glyphicon-cloud-download" ng-click="downloadGraph($event)"></a>
				<a title="Upload" class="glyphicon glyphicon-cloud-upload" ng-click="uploadGraph()"></a>
			</div>
			<div id="parameters" class="col-lg-3 col-md-4 col-sm-5 col-xs-5">
				<div class="text-center title">
					Add Node
					<button type="button" ng-click="showParameters(false)" class="close"><span aria-hidden="true">&times;</span></button>
				</div>

				<form ng-submit="addNode()" class="form-horizontal" role="form">
					<h4> Info </h4>

					<div class="form-group">
						<label for="nameInput" class="control-label col-lg-2 col-md-2 col-sm-2"> Name: </label>

						<div class="col-lg-10 col-md-10">
							<input required ng-model="nameNew" type="text" class="form-control" id="nameInput" placeholder="Name">
						</div>
					</div>
					<div class="form-group">
						<label for="descrizioneInput" class="control-label col-lg-2 col-md-2 col-sm-2"> Descr: </label>

						<div class="col-lg-10 col-md-10">
							<input required ng-model="descrizioneNew" type="text" class="form-control" id="descrizioneInput" placeholder="Descrizione del nodo">
						</div>
					</div>
					<div class="form-group">
						<label for="memInput" class="control-label col-lg-2 col-md-2 col-sm-2"> Mem: </label>

						<div class="col-lg-10 col-md-10">
							<input ng-disabled="(nodeTypeNew != 'IN')" required ng-model="memNew" type="number" class="form-control" id="memInput" placeholder="Memoria del nodo istante 0">
						</div>
					</div>
					<div class="form-group">
						<label for="maliciousProbabilityInput" class="control-label col-lg-2 col-md-2 col-sm-2"> PMAL: </label>

						<div class="col-lg-10 col-md-10">
							<input required ng-model="maliciousProbabilityNew" type="number" step="0.1" min="0" max="1" class="form-control" id="maliciousProbabilityInput" placeholder="Node Malicious Probability">
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10">
							<div class="dropdown">
								<button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">
									<strong>Type:</strong> {{ nodeTypeNew }}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li role="presentation" class="dropdown-header">Node Type</li>
									<li role="presentation" class="divider"></li>
									<li role="presentation"><a ng-click="nodeTypeNew='IN'; nodeFunctionNew = '';" role="menuitem" href="#">IN</a></li>

									<li role="presentation" class="divider"></li>
									<li role="presentation" class="dropdown-header">COMP</li>
									<li ng-repeat="func in funcOfCompNode" role="presentation"><a ng-click="$parent.nodeTypeNew='COMP'; $parent.memNew=0; $parent.nodeFunctionNew=func" role="menuitem" href="#">{{ func }}</a></li>
									<li role="presentation" class="divider"></li>

									<li role="presentation"><a ng-click="nodeTypeNew='RES'; nodeFunctionNew = ''; memNew=0; " role="menuitem" href="#">RES</a></li>
								</ul>
							</div>
						</div>
					</div>

					<!-- <div ng-show="(nodeTypeNew == 'COMP')" class="form-group">
						<div class="col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10">
							<div class="dropdown">
								<button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">
									{{ nodeFunctionNew }}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li role="presentation" class="dropdown-header">Node Function</li>
									<li role="presentation" class="divider"></li>
									<li ng-repeat="func in funcOfCompNode" role="presentation"><a ng-click="$parent.nodeFunctionNew=func" role="menuitem" href="#">{{ func }}</a></li>
								</ul>
							</div>
						</div>
					</div> -->

					<h4> Provider </h4>
					<div class="form-group">
						<label for="providerNodeNew" class="control-label col-lg-2 col-md-2 col-sm-2"> Provider: </label>
						<div class="col-lg-10 col-md-10">
							<input required ng-model="providerNodeNew" type="text" class="form-control" id="providerNodeNew" placeholder="Name">
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10">
							<button type="submit" class="btn btn-block btn-primary">Add Node</button>
						</div>
					</div>

				</form>
				<br>

				<div class="text-center title"> Add Communication </div>

				<br>
				<form ng-submit="addCommunication()" class="form-horizontal" role="form">

					<div class="form-group">
						<label for="fromInput" class="control-label col-lg-2 col-md-2 col-sm-2"> From: </label>
						<div class="col-lg-10 col-md-10">
							<input required ng-model="fromNew" type="text" class="form-control" id="fromInput" placeholder="From">
						</div>
					</div>

					<div class="form-group">
						<label for="toInput" class="control-label col-lg-2 col-md-2 col-sm-2"> To: </label>
						<div class="col-lg-10 col-md-10">
							<input required ng-model="toNew" type="text" class="form-control" id="toInput" placeholder="To">
						</div>
					</div>

					<div class="form-group">
						<label for="timeInput" class="control-label col-lg-2 col-md-2 col-sm-2"> Time: </label>
						<div class="col-lg-10 col-md-10">
							<input required ng-model="timeNew" type="number" min="0" class="form-control" id="timeInput" placeholder="Time instant">
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10">
							<div class="dropup" dropdown>
								<button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">
									 <strong>Type:</strong> {{ edgeTypeNew }}
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li role="presentation"><a ng-click="edgeTypeNew='PT'" role="menuitem" href="#">PLAIN TEXT</a></li>
									<li role="presentation"><a ng-click="edgeTypeNew='EN'" role="menuitem" href="#">ENCRYPTED</a></li>
									<li role="presentation"><a ng-click="edgeTypeNew='SS'" role="menuitem" href="#">SECRET SHARE</a></li>
									<li role="presentation"><a ng-click="edgeTypeNew='GC'" role="menuitem" href="#">GARBLED CIRCUITS</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10">
							<button type="submit" class="btn btn-block btn-primary">Add Communication</button>
						</div>
					</div>

				</form>

			</div>
			<div id="graphContainer" ng-click="showParameters(false)">
				<div id="restartVisualizer">
					<button type="button" ng-click="reloadPage()" class="btn btn-block btn-default"> Restart </button>
				</div>

				<div id="simulationButtons">
					<button ng-show="isGraphInitialized() && !(simulationRunning || simulationStepRunning)" type="button" ng-click="checkGraph()" class="btn btn-block btn-default"> Check Process Coherence </button>
					<button ng-show="isGraphInitialized() && !(simulationRunning || simulationStepRunning)" type="button" ng-click="runSimulation()" class="btn btn-block btn-default"> Run Visual Simulation </button>
					<button ng-show="isGraphInitialized() && !(simulationRunning || simulationStepRunning)" type="button" ng-click="estimateRisk()" class="btn btn-block btn-default"> Estimate Risk </button>
						<div ng-show="simulationRunning" class="spinner">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
					</div>

					<button ng-show="simulationStepRunning" id="step" type="button" ng-click="simulationStep()" class="btn btn-default"> > </button>
				</div>

				<div id="network">
					<div id="firstUse" ng-hide="isGraphInitialized()">
						Upload Graph or Add a New Node
					</div>

					<svg>
						<g></g>
					</svg>
				</div>

				<div ng-show="isGraphInitialized()" id="simulationStatistics">
					<button ng-show="simulationStepRunning" type="button" ng-click="generateChart()" class="btn btn-block btn-default"> Coalitions Risk Sets </button>
					<button ng-show="simulationStepRunning" type="button" ng-click="generateRuntimeTable()" class="btn btn-block btn-default"> Simulation Table </button>
					<button ng-show="simulationStepRunning" type="button" ng-click="generatePowerSetTable()" class="btn btn-block btn-default"> Collusion Power Set </button>
				</div>

				<div id="resetZoom">
					<button ng-show="isGraphInitialized()" type="button" ng-click="resetZoom()" class="btn btn-block btn-default"> Reset Zoom </button>
				</div>

				<form ng-submit="saveModifications()" id="modifier" class="hide">
					<div class="title">
						&nbsp;&nbsp;Modifier
						<button type="button" ng-click="showModifier(false)" class="close"><span aria-hidden="true">&times;</span></button>
					</div>
					<br>
					<div ng-show="modifierIsNode" class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
						<div class="input-group">
							<span class="input-group-addon"> Name </span>
							<input disabled ng-model="nodeNameModifier" type="text" class="form-control" placeholder="Name">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon"> Description </span>
							<input ng-required="modifierIsNode" ng-model="nodeDescriptionModifier" type="text" class="form-control" placeholder="Description">
						</div>
					</div>
					<div ng-show="modifierIsEdge" class="col-lg-3 col-md-3 col-sm-3 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
						<div class="input-group">
							<span class="input-group-addon"> Id </span>
							<input disabled ng-model="edgeIdModifier" type="text" class="form-control" placeholder="Edge Id">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon"> Time </span>
							<input ng-required="modifierIsEdge" ng-model="edgeLabelModifier" type="number" class="form-control" placeholder="Time of communication">
						</div>
					</div>
					<div ng-show="modifierIsEdge" class="col-lg-3 col-md-3 col-sm-3">
						<div class="dropup" dropdown>
							<button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">
								<strong>Type:</strong> {{ edgeTypeModifier }}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation"><a ng-click="edgeTypeModifier='PT'" role="menuitem" href="#">PLAIN TEXT</a></li>
								<li role="presentation"><a ng-click="edgeTypeModifier='EN'" role="menuitem" href="#">ENCRYPTED</a></li>
								<li role="presentation"><a ng-click="edgeTypeModifier='SS'" role="menuitem" href="#">SECRET SHARE</a></li>
								<li role="presentation"><a ng-click="edgeTypeModifier='GC'" role="menuitem" href="#">GARBLED CIRCUITS</a></li>
							</ul>
						</div>
					</div>
					<div ng-show="modifierIsNode" class="col-lg-3 col-md-3 col-sm-3">
						<div class="dropup" dropdown>
							<button class="btn btn-default btn-block dropdown-toggle" type="button" data-toggle="dropdown">
								<strong>Type:</strong> {{ nodeTypeModifier }}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation"><a ng-click="nodeTypeModifier='IN'" role="menuitem" href="#">IN</a></li>
								<li role="presentation" class="divider"></li>

								<li role="presentation" class="dropdown-header">COMP</li>
								<li ng-repeat="func in funcOfCompNode" role="presentation"><a ng-click="$parent.nodeTypeModifier='COMP'; $parent.nodeFuncModifier=func" role="menuitem" href="#">{{ func }}</a></li>
								<li role="presentation" class="divider"></li>

								<li role="presentation"><a ng-click="nodeTypeModifier='RES'" role="menuitem" href="#">RES</a></li>
							</ul>
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon"> Provider </span>
							<input ng-required="modifierIsNode" ng-model="nodeGroupModifier" type="text" class="form-control" placeholder="Node Group">
						</div>
					</div>
					<div ng-show="modifierIsNode" class="col-lg-2 col-md-2 col-sm-2">
						<div class="input-group">
							<span class="input-group-addon"> Mem </span>
							<input ng-required="modifierIsNode" ng-model="nodeMemModifier" type="number" class="form-control" placeholder="Node Mem">
						</div>
						<br>
						<div class="input-group">
							<span class="input-group-addon"> PMAL </span>
							<input ng-required="modifierIsNode" ng-model="nodeMaliciousProbabilityModifier" step="0.1" min="0" max="1" type="number" class="form-control" placeholder="Node Malicious Probability">
						</div>

					</div>
					<div class="col-lg-1 col-md-1 col-sm-1">
						<button type="submit" id="modificationButton" class="btn btn-primary"> Save </button>
					</div>
					<div class="col-lg-1 col-md-1 col-sm-1">
						<button type="button" id="deleteButton" ng-click="removeElement()" class="btn btn-danger"> Delete {{ ((modifierIsNode) ? "Node" : "Edge") }} </button>
					</div>
				</form>
			</div>
			<alert ng-show="alert" class="text-center" type="{{ alertType }}" close="(alert = false)">{{ alertMessage }}</alert>
		</div>
		<script type="text/javascript" src="files/js/vendor/jquery.min.js"></script>
		<script type="text/javascript" src="files/js/vendor/d3.min.js"></script>
		<script type="text/javascript" src="files/js/vendor/dagre-d3.min.js"></script>
		<script type="text/javascript" src="files/js/vendor/angular.min.js"></script>
		<script type="text/javascript" src="files/js/vendor/angular-animate.min.js"></script>
		<script type="text/javascript" src="files/js/vendor/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="files/js/vendor/bootstrap.js"></script>
		<script type="text/javascript" src="files/js/vendor/canvasjs.min.js"></script>
		<script type="text/javascript" src="files/js/vendor/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="files/js/vendor/angular-datatables.min.js"></script>
		<!--<script type="text/javascript" src="files/js/vendor/loading-bar.min.js"></script>-->

		<!-- main -->
		<script type="text/javascript" src="files/compiled/base.min.js"></script>

		<!-- angular resources -->
		<script type="text/javascript" src="files/compiled/angular-resource.min.js"></script>
	</body>
</html>